@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("~leaflet/dist/leaflet.css");

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.5;
  background-color: #f1f3fb;
  /* padding: 0 1rem; */
}

img {
  max-width: 100%;
  display: block;
}

.border-none {
  border: none;
}

.card {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 0.75rem;
}

.create-card {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
}

.itinerary-card {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
}

.itinerary-card-title {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  color: #29323d;
}

.itinerary-card-date {
  margin: auto;
}

.itinerary-card-image {
  padding: 0px 30px;
}

.landmark-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-right: 30px;
}

.landmark-list-items {
  list-style-type: none;
  padding: 5px;
}

.displayItineraries-list{
  display: flex;
  flex-direction: column;
}


.create-card-title {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  margin-top: 20px;
  color: #29323d;
}

.landmark-review {
  display: block;
}

.container {
  min-height: 200px;
  max-height: 200px;
}

.review {
  text-align: left;
  width: 90%;
  margin-left: 5%;
}

.comment-caption {
  color: black;
}

.carousel-indicators {
  position: relative;
  margin-bottom: 5px;
}

.carousel-indicators [data-bs-target] {
  background-color: orange;
}

.comment-title {
  font-size: 15px;
  font-weight: 600;
  margin-top: 15px;
}

.comment-name {
  font-size: 15px;
  line-height: .5;
  margin-bottom: 15px;
}

.comment-review {
  font-style: italic;
  font-size: 14px;
  color: black;
  word-spacing: 2px;
}

.carousel-inner > .active {
  color: black;
}

.startPoint-button {
  width: 300px;
  font-weight: 500;
  margin-bottom: 5px;
  background-color: #eef1f5;
  border-radius: 6px;
  color: #2d4b5a;
  border: 0;
  border-radius: 10px;
  height: 50px;
  transition: all 0.5s;
  text-align: left;
}

.startPoint-button:hover {
  background-color: darkgray;
}

.starting-point-group {
  display: flex;
  justify-content: space-between;
}

.landmark-list-buttons {
  width: 300px;
  font-weight: 500;
  background-color: #eef1f5;
  border-radius: 6px;
  color: #2d4b5a;
  border: 0;
  border-radius: 10px;
  height: 50px;
  transition: all 0.5s;
  text-align: left;
}

.landmark-list-buttons:hover {
  background-color: darkgray;
}

.save-button {
  width: 300px;
  font-weight: 500;
  margin-bottom: 10px;
  background-color: #876df5;
  border-radius: 6px;
  color: white;
  border: 0;
  border-radius: 10px;
  height: 40px;
  transition: all 0.5s;
  text-align: center;
  margin-right: 10px;
}

.save-button:hover {
  background-color: lightskyblue;
}

.delete-button,
.search-button {
  width: 300px;
  font-weight: 500;
  margin-bottom: 20px;
  background-color: #876df5;
  border-radius: 6px;
  color: white;
  border: 0;
  border-radius: 10px;
  height: 40px;
  transition: all 0.5s;
  text-align: center;
}

.delete-button:hover,
.search-button:hover {
  background-color: lightskyblue;
}

.edit-button {
  display: inline-block;
  width: 30px;
  filter: opacity(.5);
}

.edit-button:hover {
  width: 2.75em;
}


.trash-button {
  border: none;
  width: 1rem;
  filter: opacity(50%);
  position: relative;
  right: 10px;
}

.trash-button:hover {
  width: 1.5rem;
}

.landmark-action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.create-card-body {
  margin: 10px;
  width: 100%;
  /* height: 50vh; */
}

.create-form {
  /* padding:5px 0; */
  display: flex;
  flex-direction: column;
}


.create-input-form {
  margin: 10px 0;
  font-size: medium;
  /* border-style:solid;
	border-radius: 15px; */
}

.create-button {
  width: 3rem;
}

.edit-button {
  border: none;
  width: 2rem;
}

.modify-button-set {
  display: flex;
  justify-content: space-between;
}

.create-form-action {
  margin: 2px 60px;
  padding: 1px;
  display: flex;
}

.cancel-button {
  /* background-color: rgb(185, 179, 179); */
  border-radius: 10px;
  border: 4px double #cccccc;
  color: black;
  text-align: center;
  font-size: 15px;
  /* padding: 20px; */
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.ok-button {
  /* background-color: rgb(185, 179, 179); */
  border-radius: 10px;
  border: 3px double #cccccc;
  color: black;
  text-align: center;
  font-size: 15px;
  /* padding: 20px; */
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn-success {
  margin-top: 10px;
}

.ok-button:hover {
  background-color: #cccccc;
}

.cancel-button:hover {
  background-color: #cccccc;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 2px 0;
}

.main-list {
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
  color: #EEEEEE;
  text-align: center;
}

.main-list:hover {
  border-radius: 10px;
  color: rgb(181, 181, 190);
}

.card .itinerary-card{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-image {
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 65%;
  background-image: url("https://images.hdqwalls.com/wallpapers/san-francisco-california-cityscape-4k-qv.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 0 5%;
  position: relative;
}

.register-card-image {
  text-align: center;
}

.register-card-body {
  margin: 10px 30px;
}

.register-form {
  padding: 5px 0;
}

.card-heading {
  position: absolute;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  left: 40%;
  top: 7%;
  right: 30%;
  font-size: 2rem;
  font-weight: 700;
  color: lightgray;
  /* line-height: 1.222; */
}

.input-label {
  color: #8597a3;
  margin-top: 10px;
}

/* .form-control {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1.125rem;
	padding: 10px 10px;
	
} */

.action {
  margin-top: 2rem;
}

.action-button {
  font: inherit;
  text-align: center;
  font-size: 1rem;
  padding: 1em;
  width: 100%;
  height: 50px;
  font-weight: 400;
  background-color: #6658d3;
  border-radius: 6px;
  color: #fff;
  border: 0;
}

.register-action-button {
  font: inherit;
  font-size: 1.25rem;
  padding: 1em;
  width: 100%;
  font-weight: 500;
  background-color: #6658d3;
  border-radius: 6px;
  color: #fff;
  border: 0;
}
/* .action-button:hover{
    background-color:lightskyblue;

} */

.card-info {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #8597a3;
}
.card-info a {
  display: block;
  color: #6658d3;
  text-decoration: none;
}

.home-map {
  width: 50%;
  display: block;
  margin: auto;
}

/* Search-Landmark CSS */
.leaflet-container {
  height: 100vh;
  width: 95vw;
}

.search-div {
  /* margin: 50px; */
  text-align: center;

  /* max-width:  20em; */
  margin: 5em auto;
  width: 50%;
}
/* .search{
  width: 100%;
  text-align: center;
} */

.card2 {
  background-color: gray;
  color: black;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.landmark-card-image {
  height: 80%;
  width: 100%;
  border-radius: 50px;
}

.Landmark-card {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  max-width: 550px;
  height: 80%;
  background-color: #eff5f5;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  margin: 40px 0;
}

.Landmark-card-title {
  font-size: larger;
  font-family: "Segoe UI", Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.landmark-location {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #393e46;
}

.landmark-description {
  text-align: left;
  /* font-stretch: expanded; */
  color: #2d4b5a;
  font-family: fantasy;
}

.Landmark-map-link a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: medium;
  margin: 20px 20px;
  color: #395b64;
}

.Landmark-map-link a:hover {
  color: lightskyblue;
}

.Add-itinerary-button {
  /* width: 150px; */
  font-size: large;
  font-weight: 500;
  margin-top: 20px;
  background-color: transparent;
  border-radius: 10px;
  color: #000000;
  border: 1 lightblue;
  /* border:1px solid rgba(255, 255, 255, 0.18); */
  height: 40px;
  width: 220px;
  transition: all 0.5s;
}

.Add-itinerary-button:hover {
  background-color: black;
  color: #eef1f5;
}

.hours {
  border-radius: 10px;
  /* border: 4px double #06283D; */
  color: #808995;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 5px 5px;
}

.hour-button {
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  text-align: left;
  background-color: transparent;
  transition: all 0.5s;
}

.hour-button:active {
  background-color: black;
  color: white;
}

.isClicked {
  display: flex;
  flex-direction: column;
}

.search {
  font-size: 20px;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: medium;
  border: transparent;
  border-radius: 5px;
  margin-bottom: 10px;
}

.search:hover {
  background-color: lightgray;
  color: black;
  border-radius: 20px;
  border: 0;
}

.list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.listItem {
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}

.popup-wrapper {
  width: 50vw;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 6px 6px 12px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 6px 6px 12px 0px rgba(50, 50, 50, 1);
  box-shadow: 6px 6px 12px 0px rgba(50, 50, 50, 1);
}

.dim {
  color: lightgray;
}

.align-center {
  display: flex;
  align-items: center;
}

/* LandmarkComponent css */

.main-div {
  display: flex;
  justify-content: center;
}

.contacts {
  /* display: grid;
  grid-template-columns: repeat(2,  1fr); */
}

.contact-card {
  /* flex-basis: 225px; */
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 15px;
  margin-top: 10px;
  width: 550px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* display: flex;
: column; */

  /* background-color: white; */
}

.contact-card > img {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}

.contact-card > h3 {
  font-weight: 700;
  font-size: x-large;
  margin: 20px;
}
.description-div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}

.description {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: medium;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  padding: 0 30px;
  background-color: transparent;
  color: black;
  letter-spacing: 2px;
}

.description-link {
  font-size: large;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: -1px;
  color: #000000;
}
.description-link:hover {
  color: lightslategray;
}

.description-ul {
  padding: 1px 0;   
  text-decoration: none;
  font-size: medium;
}
.description-ul > li {
  list-style: none;
}

.grid__item {
  list-style: none;
}

.info-group {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.info-group > img {
  height: 20px;
  margin-right: 8px;
}

.info-group > p {
  margin-block: 3px;
  font-size: 15px;
  color: #2b283a;
}
.info-group-button {
  display: flex;
  align-content: center;
  font-size: 15px;
  color: #2b283a;
}

.rating {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.like,
.dislike {
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

.dislike:hover,
.like:hover {
  color: #2EBDD1;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.active {
  color: #2EBDD1;
}

/* NavLinkBar css */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: rgb(0, 33, 65);
}
.nav__brand{
  text-transform: uppercase;

}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}
.nav__item{
  position: relative;
  right: 15px;
  list-style:none;
}

.toTop {
  position: fixed;
  top: 90vh;
  right: 10vw;
  width: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.review-title {
  font-weight: 400;
}

.home-title {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  margin-top: 20px;
  color: #29323d;
}

.toHide {
  position: fixed;
  visibility: hidden;
}

 
/*IPAD*/
@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: fit-content;
    background: rgb(0, 33, 65);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }

  .chevron {
    width: 33px;
  }

  .img {
    max-width: 67vw;
  }

  .search-div {
    text-align: center;
    width: 500px;
    margin-right: 170px;
  }

  .contact-card {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 15px;
    margin-top: 5px;
    width: 400px;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .itinerary-card{
    margin-left: 5vw;
    align-items: center;
  }

  .landmark-list-buttons {
    width: 300px;
    font-weight: 500;
    background-color: #eef1f5;
    border-radius: 6px;
    color: #2d4b5a;
    border: 0;
    border-radius: 10px;
    height: 50px;
    transition: all 0.5s;
    text-align: left;
  }
  
  .delete-button,
  .search-button {
    width: 170px;
    font-weight: 500;
    margin-bottom: 20px;
    background-color: #876df5;
    border-radius: 6px;
    color: white;
    border: 0;
    border-radius: 10px;
    height: 40px;
    transition: all 0.5s;
    text-align: center;
  }

  .startPoint-button {
    width: 300px;
    font-weight: 500;
    margin-bottom: 5px;
    background-color: #eef1f5;
    border-radius: 6px;
    color: #2d4b5a;
    border: 0;
    border-radius: 10px;
    height: 50px;
    transition: all 0.5s;
    text-align: left;
  }
  
  .create-card {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 550px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  }

  .nav__active {
    transform: translateX(0%);
    width: 70px;
    font-size: small;
  }
  
  .rating {
    width: 100%;
  }

  .home-title {
    margin-right: 50px;
  }
}

/*PHONE*/
@media screen and (max-width: 418px) {
  .toTop {
    top: 95vh;
    right: 17vw;
    width: 31px;
  }

  .itinerary-image {
    width: 180px;
  }

  .itinerary-card {
    width: 300px;
  }

  .contact-card {
    font-size: small;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 15px;
    width: 220px;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .create-card-title {
    font-size: large;
  }

  .search-div {
    text-align: center;
    width: 200px;
    margin-left: 70px;
    font-size: small;
  }

  .create-input-form {
    font-size: small;
  }

  .Add-itinerary-button {
    /* width: 150px; */
    font-size: large;
    font-weight: 500;
    margin-top: 20px;
    background-color: transparent;
    border-radius: 10px;
    color: #000000;
    border: 1 lightblue;
    /* border:1px solid rgba(255, 255, 255, 0.18); */
    height: 60px;
    width: 100px;
    transition: all 0.5s;
  }

  .create-form-action {
    display: flex;
    justify-content: center;
    font-size: small;
  }

  .cancel-button {
    width: 100px;
    font-size: small;
  }

  .ok-button {
    width: 100px;
    font-size: small;
  }

  .landmark-list-buttons {
    width: 200px;
    font-weight: 500;
    background-color: #eef1f5;
    border-radius: 6px;
    color: #2d4b5a;
    border: 0;
    border-radius: 10px;
    height: 25px;
    transition: all 0.5s;
    text-align: left;
  }

  .delete-button,
  .search-button {
    width: 130px;
    font-weight: 500;
    font-size: small;
    margin-bottom: 20px;
    background-color: #876df5;
    border-radius: 6px;
    color: white;
    border: 0;
    border-radius: 10px;
    height: 25px;
    transition: all 0.5s;
    text-align: center;
  }

  .startPoint-button {
    width: 200px;
    font-weight: 500;
    margin-bottom: 5px;
    background-color: #eef1f5;
    border-radius: 6px;
    color: #2d4b5a;
    border: 0;
    border-radius: 10px;
    height: 25px;
    transition: all 0.5s;
    text-align: left;
  }

  .create-card {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 550px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  }

  .nav__active {
    transform: translateX(0%);
    width: 50px;
    font-size: x-small;
  }  

  .landmark-list {
    font-size: small;
  }

  .Add-itinerary-button {
    width: 130px;
    height: 30px;
  }

  .description, .description-link, .Add-itinerary-button, .info-group{
    font-size: small;
  }

  .review-title {
    font-size: medium;
  }

  .comment-title {
    display: flex;
    justify-content: flex-start;
    font-size: 11px;
    font-weight: 400;
  }
  
  .comment-name {
    display: flex;
    justify-content: flex-start;
    font-size: 11px;
  }
  
  .comment-review {
    font-size: 11px;
  }

  .home-title {
    font-size: large;
    margin-right: 43px;
  }

  .itinerary-card-title {
    font-size: large;
  }

  .edit-button {
    width: 1rem;
    margin-right: 10px;
  }

}


.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}

.chevron {
  border: none; 
  color: rgba(0, 0, 0, 0.5)
}

.section-padding {
  padding: 20px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 10px;
}

